nav, #empty{
  height: 70px;
  box-shadow: none;
}

.logo img{
  width: 200px;
}

.navLink{
  font-size: 20px;
  margin-top: 36px;
  gap: 5vw;
}

/* MAIN */

 
main{
  display: flex;
  justify-content: center;
  height: 600px;
}

.circleContainer{
  max-width: 460px;
  height: 100%;
}

.circle{
  width: 370px;
  height: 400px;
  top: 100px;
  right: 100px;
  border-radius: 50%;
  background-image: linear-gradient(#B8B8B8, #737373);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.343);
  overflow: hidden;
}

.circle img{
  width: 80%;
  padding-left: 55px;
}

.info{
  min-width: 460px;
  height: 100%;
  text-align: center;
}

.info h3{
  margin-top: 150px;
  font-size: 25px;
  font-weight: 400;
}

.info h1{
  font-size: 45px;
  font-weight: 550;
} 

.info h2{
  font-size: 25px;
  margin-bottom: 4vw;
}

.info button{
  width: 260px;
  font-size: 25px;
  padding: 10px;
  margin: 10px 10px;
  border-radius: 20vw;
}

.cvBtn{
  border: 3;
  background-color: #B8B8B8;
}

.contactBtn{
  border: none;
  color: white;
  background-color: #2D2B2B;
}

/* ABOUT STYLING */


