/* /NAVIGATION  BAR STYLING */

nav, #empty{
  height: 13vw;
}

.logo img{
  width: 35vw;
}

.navigation img{
  display: none;
}

.navLink{
  display: flex;
  font-size: 2.5vw;
  margin-top: 9vw;
  gap: 5vw;
  list-style-type: none;
}

.navLink a{
  text-decoration: none;
  color: black;
}

.navLink a:hover{
  text-decoration: underline;
  color: rgba(64, 63, 63, 0.897);
}

@media screen and (min-width: 900px){
  nav, #empty{
    height: 15vh;
  }
  
  .logo img{
    width: 40vh;
  }

  .navLink{
    font-size: 20px;
    margin-top: 10vh;
    gap: 5vw;
  }
}

/* MAIN STYLING */

main{
  display: flex;
  height: 60vw;
}

.circleContainer{
  position: relative;
  width: 50vw;
  height: 60vw;
}

.circle{
  position: absolute;
  width: 40vw;
  height: 43vw;
  top: 8vw;
  left: 9vw;
  border-radius: 50%;
  background-image: linear-gradient(#B8B8B8, #737373);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.343);
  overflow: hidden;
}

.circle img{
  width: 80%;
  padding-left: 6vw;
}

.info{
  display: inline-block;
  position: relative;
  width: 50vw;
  height: 60vw;
  text-align: center;
}

.info h3{
  margin-top: 13vw;
  font-size: 2.5vw;
  font-weight: 400;
}

.info h1{
  font-size: 4.5vw;
  font-weight: 550;
  margin: 1vw 0vw;
}

.info h2{
  font-size: 2.5vw;
  font-weight:550;
  margin-bottom: 4vw;
}

.info button{
  width: 30vw;
  font-size: 3vw;
  padding: 1vw;
  margin: 1vw 3vw;
  border-radius: 20vw;
}

.cvBtn{
  border: 3;
  background-color: #B8B8B8;
}

.contactBtn{
  border: none;
  color: white;
  background-color: #2D2B2B;
}

@media screen and (min-width: 900px){
  
main{
  display: flex;
  justify-content: center;
  height: 85vh;
}

.circleContainer{
  width: 460px;
  height: 85vh;
}

.circle{
  position: absolute;
  width: 370px;
  height: 400px;
  top: 100px;
  border-radius: 50%;
  background-image: linear-gradient(#B8B8B8, #737373);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.343);
  overflow: hidden;
}

.circle img{
  width: 80%;
  padding-left: 55px;
}

.info{
  width: 460px;
  height: 85vh;
  text-align: center;
}

.info h3{
  margin-top: 150px;
  font-size: 25px;
  font-weight: 400;
}

.info h1{
  font-size: 45px;
  font-weight: 550;
} 

.info h2{
  font-size: 25px;
  margin-bottom: 4vw;
}

.info button{
  width: 260px;
  font-size: 25px;
  padding: 10px;
  margin: 10px 30px;
  border-radius: 20vw;
}

.cvBtn{
  border: 3;
  background-color: #B8B8B8;
}

.contactBtn{
  border: none;
  color: white;
  background-color: #2D2B2B;
}

}

#about{
  height: 100vh;
  background-color: #2D2B2B;
  text-align: center;
}

#about > h1{
  color: #B8B8B8;

}

#project{
  height: 100vh;
  background-color: #870b0b;
}

#footerContainer{
  height: 30vh;
  background-color: #2D2B2B;
}